<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Username</th>
            <th scope="col">Full name</th>
            <th scope="col">Address</th>
            <th scope="col">Setting</th>
        </tr>
    </thead>
    <div class="my-3 mx-3">

        <a href="/user/create" class="btn btn-success"><i style="margin-right: 3px;" class="fa-solid fa-plus"></i>Add
            new user</a>
    </div>
    <tbody>
        <% for(let i=0; i< users.length; i++) { %>
            <tr>
                <td>
                    <%= i+1 %>
                </td>
                <td>
                    <%= users[i].username %>
                </td>
                <td>
                    <%= users[i].fullname %>
                </td>
                <td>
                    <%= users[i].address %>
                </td>
                <td>
                    <a class="text-decoration-none" href="/user/<%= users[i].id %>">
                        <i class="fa-regular fa-eye "></i>
                    </a>

                    <a class="text-decoration-none" href="/update/<%=users[i].id %>">
                        <i class="fa-regular fa-pen-to-square px-1"></i>
                    </a>
                    <form action="/delete/<%= users[i].id%>?_method=DELETE" method="POST" style="display:inline;"
                        class="delete-user-form">
                        <button type="submit" style="border: none; background: none; cursor: pointer;">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            <% } %>

    </tbody>
</table>

<script>
    document.querySelectorAll('.delete-user-form').forEach(form => {
        form.addEventListener('submit', (event) => {
            const confirmDelete = confirm('Are you sure you want to delete this user?');
            if (!confirmDelete) {
                event.preventDefault();
            }
        });
    });

</script>