<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-3 mx-5">
            </div>
            <div class="col-md-9">
                <strong class="py-5 ">Update Information</strong><br>
                <div class="table-responsive mt-3">
                    <form action="/update/<%= user.id %>" method="POST">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user text-primary"></span>
                                            User Name
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <input type="text" name="username" class="form-control"
                                            value="<%= user.username %>">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                            Full Name
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <input type="text" name="fullname" class="form-control"
                                            value="<%= user.fullname %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Email
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <input type="email" name="email" class="form-control" value="<%= user.email %>">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-home text-primary"></span>
                                            Address
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <input type="text" name="address" class="form-control"
                                            value="<%= user.address %>">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Update Information</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>